## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import sys

# Import API key
sys.path.append('../')
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,cape town,ZA,-33.9258,18.4232,58.87,88,75,3.00,broken clouds
1,1,thompson,CA,55.7435,-97.8558,53.76,54,90,13.80,overcast clouds
2,2,jaisalmer,IN,26.9147,70.9181,87.66,57,100,8.90,overcast clouds
3,3,nabire,ID,-3.3667,135.4833,74.30,92,72,3.22,light rain
4,4,new norfolk,AU,-42.7826,147.0587,42.93,79,11,1.99,few clouds

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('Please enter the minimum temperature you would prefer: '))
max_temp = float(input('Please enter the maximum temperature you would prefer: '))

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
filter_df = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp) & (city_data_df['Max Temp'] <= max_temp)]
filter_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
8,8,port hardy,CA,50.6996,-127.4199,60.98,77,75,4.61,light rain
39,39,noumea,NC,-22.2763,166.4572,64.38,58,29,9.75,scattered clouds
50,50,pisco,PE,-13.7000,-76.2167,64.45,72,0,11.50,clear sky
56,56,port alfred,ZA,-33.5906,26.8910,67.35,89,8,20.02,clear sky
73,73,inhambane,MZ,-23.8650,35.3833,68.13,68,44,7.63,scattered clouds

In [8]:
# 4a. Determine if there are any empty rows.
filter_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 110 entries, 8 to 670
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              110 non-null    int64
 1   City                 110 non-null    object
 2   Country              109 non-null    object
 3   Lat                  110 non-null    float64
 4   Lng                  110 non-null    float64
 5   Max Temp             110 non-null    float64
 6   Humidity             110 non-null    int64
 7   Cloudiness           110 non-null    int64
 8   Wind Speed           110 non-null    float64
 9   Current Description  110 non-null    object
dtypes: float64(4), int64(3), object(3)
memory usage: 9.5+ KB

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_df = filter_df.dropna()
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109 entries, 8 to 670
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              109 non-null    int64
 1   City                 109 non-null    object
 2   Country              109 non-null    object
 3   Lat                  109 non-null    float64
 4   Lng                  109 non-null    float64
 5   Max Temp             109 non-null    float64
 6   Humidity             109 non-null    int64
 7   Cloudiness           109 non-null    int64
 8   Wind Speed           109 non-null    float64
 9   Current Description  109 non-null    object
dtypes: float64(4), int64(3), object(3)
memory usage: 9.4+ KB

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,port hardy,CA,60.98,light rain,50.6996,-127.4199,
39,noumea,NC,64.38,scattered clouds,-22.2763,166.4572,
50,pisco,PE,64.45,clear sky,-13.7000,-76.2167,
56,port alfred,ZA,67.35,clear sky,-33.5906,26.8910,
73,inhambane,MZ,68.13,scattered clouds,-23.8650,35.3833,
78,cidreira,BR,61.77,clear sky,-30.1811,-50.2056,
90,choya,RU,62.31,overcast clouds,52.0108,86.5467,
92,saint-philippe,RE,69.35,light rain,-21.3585,55.7679,
99,port elizabeth,ZA,61.11,overcast clouds,-33.9180,25.5701,
102,torbay,CA,66.58,few clouds,47.6666,-52.7314,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params['Location'] = f'{lat},{lng}'
    url_api = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

In [9]:
# 7. Drop the rows where there is no Hotel Name.

In [10]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure